<header role="header">
    <div class="row text-center">
        <div class="small-12 column">
            <h1 class="title">{{ site.title }}</h1>
            <p>
                <em class="tagline">{{ site.tagline }}</em>
            </p>
        </div>
        <nav class="small-12 column">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>